
.CodeMirror {
    height: 100% !important;
  }
  

/* moved to MinIDE.js:WriteHtml()

table.MinIDE
{
}

td.MinIDE_TopLeft
{
}
td.MinIDE_TopRight
{
}
td.MinIDE_BottomLeft
{
}

td.MinIDE_BottomRight
{
}

textarea.MinIDE_Editor
{
}
*/

div.MinIDEServerMess
{
    position:absolute;
    z-index: 100000;
    left:10%;
    top:5%;
    width:80%;
    border: outset 2px #ffaa00;
    background-color: #ffee00;
    color:#005500;
    font-size:24pt;
    text-align: center;
}

a.MinIdeTab0
{
    color:#333333;
    text-decoration: none;
}
a.MinIdeTab1
{
    color:#555555;
    text-decoration: none;
}

span.MinIdeTab0
{
    padding-left: 5pt;;
    padding-right: 5pt;;
    border: inset 2px #666666;
    border-radius: 4pt;
    background-color: #eeeeee
}
span.MinIdeTab1
{
    padding-left: 5pt;;
    padding-right: 5pt;;
    border: outset 2px #666666;
    border-radius: 4pt;
    background-color: #ffffff;
    border-bottom: none;
}

input.MinIdeMenu
{
    border-radius: 4pt;
}
